* {
    font-family: "Libre Franklin", sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-family: Libre Franklin, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    color: #333333;
}


/* header */

header {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./image/bg-header.png);
    width: 373px;
    height: 275px;
    color: white;
    text-align: center;
}

.nav-bar-items {
    display: none;
}

.nav-bar {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 34px;
    top: 39px;
    font-family: Segoe MDL2 Assets, serif;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}

.header {
    position: absolute;
    width: 373px;
    height: 275px;
    background: rgba(198, 108, 73, 0.4);
}

header p,
h2 {
    position: relative;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

header h2 {
    padding-top: 36px;
    padding-bottom: 50px;
}

.header-p1 {
    padding-bottom: 13px;
    font-size: 20px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}

.header-p2 {
    padding-bottom: 41px;
    font-size: 13px;
    line-height: 16px;
}

.header-p3 {
    padding-bottom: 50px;
    padding-left: 1px;
    text-decoration: underline;
    font-size: 13px;
    line-height: 16px;
}

@media (min-width: 600px) {
    body {
        background: green;
        width: 100%;
    }
    h2 {
        font-weight: 700;
        margin: 0;
        color: #FFFFFF;
    }
    * {
        font-family: "Libre Franklin", sans-serif;
        padding: 0;
        margin: 0;
    }
    body {
        color: #333333;
    }
    /* header */
    header {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(./image/bg-header-desktop.png);
        width: 100%;
        height: 768px;
        color: white;
    }
    .header {
        position: absolute;
        height: 768px;
        width: 100%;
        background: rgba(198, 108, 73, 0.4);
    }
    .nav-button {
        display: none;
    }
    .nav-bar {
        padding-left: 132px;
        padding-top: 0;
        padding-right: 166px;
    }
    .nav-bar-item-first {
        margin-right: 45px;
        font-weight: bold;
    }
    .nav-bar-item {
        margin-right: 45px;
        font-weight: 400;
    }
    .nav-bar-items {
        display: flex;
        justify-content: space-between;
    }
    .navigation {
        display: flex;
        margin-top: 38px;
        margin-left: 464px;
    }
    header p,
    h2 {
        display: flex;
        text-align: center;
        margin: 0;
        color: #FFFFFF;
        padding-left: 0;
    }
    .header-desktop-h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }
    .nav-bar-items p {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 22px;
    }
    .header-mobile-h2 {
        display: none;
    }
    .header-p1 {
        font-size: 64px;
        line-height: 78px;
        padding-top: 267px;
        padding-left: 165px;
        padding-bottom: 26px;
    }
    .header-p2 {
        font-size: 24px;
        line-height: 29px;
        padding-left: 165px;
        padding-bottom: 106px;
    }
    .header-p3 {
        font-size: 18px;
        line-height: 22px;
        text-decoration: underline;
        padding-left: 165px;
    }
}